:root {
  --color-principal: #000000;
  --color-secundario: #999999;
  --color-oscuro: #1a1a1a;
  --color-acento: #555555;
  --color-fondo: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: var(--color-oscuro);
}
